# ===== OS =====
.DS_Store

# ===== Python =====
__pycache__/
*.pyc
.venv/
venv/

# ===== Android / Gradle =====
*.iml
.gradle/
.kotlin/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
